---
import Page from "@layouts/page";
---

<Page title="About me">
	<h1>About me</h1>
	<p>
	I'm a middle aged software engineer. This page is my musings on anything related to coding and technology.
	</p>
</Page>
