---
import Page from "@layouts/page";
---

<Page title="Contact me">
	<h1>Contact me</h1>
	<p>
	You can check my <a href="https://github.com/wmira">Github</a> or follow me on <a href="https://twitter.com/miranext">twitter</a>
	</p>
</Page>
